* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    background: #b01956;
}

.container {
    background: #7f143e;
    width: 700px;
    margin: 100px auto 0;
}

.container h2 {
    font-size: 24px;
    text-align: center;
    color: white;
}

.container .form-container {
    padding: 25px;
    display: flex;
    justify-content: center;
}

.container .form-container .input-div {
    padding: 10px;
    display: flex;
}

.container .form-container .input-div input {
    padding: 7px;
}

.container .form-container .input-div span {
    color: white;
    font-size: 18px;
    padding: 0 5px;
}

.container .form-container .input-div label 
{
    color: white;
    font-size: 20px;
    text-align: start;
    width: 150px;

}


.container .form-container .submit-btn {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container .form-container .submit-btn input {
    padding: 10px  ;
    font-size: 25px;
    border-radius: 5px;
    width: 100%;
    border: none;
    display: flex;
    justify-content: center;
}

.container .form-container .submit-btn input:hover
{
    cursor: pointer;
}

